<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'Admin Panel' }) %>
    <script>
        function clearSelection(){
            $('#menu li, .settings-view').removeClass('active');
        }
        function selectMenu(sel){
            clearSelection();
            $('#option-'+sel+', #settings-'+sel).addClass('active');
        }
        $(document).ready(function() {
            $('#save-btn').click(function (e){

            });

            $('#menu li').click(function (e) {
                selectMenu($(e.target).attr('id').match(/[a-z]+$/));
            });
            selectMenu('announcement');

            $('#in-announcement').bind('input propertychange', function () {
                $('#out-announcement').html(marked($('#in-announcement').val().replace(/</g, '&lt;').replace(/>/g, '&gt;')));
            });
            $('#out-announcement').html(marked($('#in-announcement').val()));
        });
    </script>
</head>
<body class="screen_fill admin">
<div id="box-left">
    <header>NHS TV</header>
    <ul id="menu">
        <li id="option-announcement">Announcements</li>
        <li id="option-important">Important Dates</li>
        <li id="option-main">Main Area</li>
        <li id="option-twitter">Twitter Settings</li>
        <li id="option-user">User Settings</li>
        <li id="option-backup">Reset/Backup</li>
    </ul>
</div>
<div id="box-right">
    <div id="box-content">
        <div id="settings-announcement" class="settings-view">
            <h1>Announcements</h1>
            <br>
            <h4>Content</h4>
            <br>
            <div class="input-area">
                <textarea id="in-announcement"></textarea>
                <ins>This content is markdown enabled.</ins>
                <br>
            </div>
            <div class="output-area">
                <div id="out-announcement"></div>
            </div>
        </div>
        <div id="settings-important" class="settings-view">
            <h1>Important Dates</h1>
            <br>
            <table id="date-table">
                <thead><td>Date</td><td>Event</td></thead>
                <tbody id="in-date">
                    <tr>
                        <td><input type="date"></td>
                        <td><textarea></textarea></td>
                        <td>
                            <span class="sqr-btn up"></span>
                            <span class="sqr-btn down"></span>
                            <span class="sqr-btn remove"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="button" id="add-date">
        </div>
        <div id="settings-main" class="settings-view">
            <p>ASdasd</p>
        </div>
        <div id="settings-twitter" class="settings-view">

        </div>
        <div id="settings-user" class="settings-view">

        </div>
        <div id="settings-backup" class="settings-view">

        </div>
    </div>
    <div id="box-submit">
        <input type="button" id="save-btn" value="Save">
    </div>
</div>
</body>
</html>