<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'NHS TV' }) %>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        twttr.ready(function(){
            twttr.widgets.createTimeline('608702895299637249', document.getElementById('twitter-box'), {
                chrome: 'noscrollbar transparent noheader'
            });
        });
    </script>
</head>
<body class="screen_fill display">
<div id="left-box">
    <div id="main-box">

    </div>
    <div id="announcement-box">

    </div>
</div>
<div id="right-box">
    <div id="important-box">

    </div>
    <div id="twitter-box">

    </div>
</div>
</body>
</html>