<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'NHS TV' }) %>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        twttr.ready(function(){
            twttr.widgets.createTimeline('608702895299637249', document.getElementById('box-twitter'), {
                chrome: 'noscrollbar transparent noheader'
            });
        });
    </script>
    <script>
        var currentState = {};
        var scrollInt;

        function loadData(){
            $.post('get', {}, function (data, status, jqXHR) {
                if(status !== 'success') {
                    $('#message').text("Could not communicate with the server. ("+status+")");
                }else if(data.hasOwnProperty('error')){
                    $('#message').text(data.error);
                }else {
                    currentState = data;

                    var $scroller = $('#scroller');
                    $scroller.html(marked(data.announcements));
                    var dH = $scroller.height() - $('#box-announcement').height();
                    var time = ($scroller.height()+$('#box-announcement').height())*25;
                    if(dH > 0){
                        $scroller.stop(true, true);
                        $scroller.css({'top': $('#box-announcement').height()});
                        $scroller.animate({'top': -$scroller.height()}, time, 'linear', function(){});
                        scrollInt = setInterval(function(){
                            $scroller.stop(true, true);
                            $scroller.css({'top': $('#box-announcement').height()});
                            $scroller.animate({'top': -$scroller.height()}, time, 'linear', function(){});
                        }, time);
                    }
                    var monthNames = [
                        "January", "February", "March",
                        "April", "May", "June", "July",
                        "August", "September", "October",
                        "November", "December"
                    ];
                    var $dates = $('#box-important');
                    data.importantDates.forEach(function (d) {
                        var event = $('<div>');
                        event.addClass('event');
                        var date = new Date(d.date);
                        event.html(monthNames[date.getMonth()] + " " + date.getDate() + ", " + date.getFullYear() + ":  " + d.description);
                        $dates.append(event);
                    });

                }
            }, 'json');
        }

        $(document).ready(function () {
            loadData();
        });
    </script>
</head>
<body class="screen_fill display">
<div id="box-left">
    <div id="box-main">

    </div>
    <div id="box-announcement">
    <div id="scroller">

    </div>
    </div>
</div>
<div id="box-right">
    <div id="box-important">

    </div>
    <div id="box-twitter">

    </div>
</div>
</body>
</html>