<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'Error' }) %>
</head>
<body style="padding: 20px;">
    <h1><%= status %></h1>
    <p><%= message %></p>
</body>
</html>