<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'Login' }) %>
    <script>
        function login(){
            $.post('login', {username: $('#username').val(), password: $('#password').val()}, function(data, status, jqXHR){
                if(status !== 'success') {
                    $('#error').text("Could not communicate with the server. ("+status+")");
                }else if(data.hasOwnProperty('error')){
                    $('#error').text(data.error);
                }else{
                    location.reload();
                }
            }, 'json');
            $('#error').text("Loading...");
            $('#error').css('display', 'block');
        }
        $(document).ready(function() {
            $('#login-form').submit(function (event) {
                event.preventDefault();
                login();
            });
        });
    </script>
</head>
<body class="screen_center">
    <div id="login-box">
        <header>Login</header>
        <form id="login-form" action="/">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Go">
        </form>
        <div id="error" style="display: none;"></div>
    </div>
</body>
</html>