body, body *, *:before, *:after {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

article, aside, footer, header, main, nav, section {
    display: block;
}

body {
    line-height : 1;
}



blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:none;
}

a, ins, mark, span, i, b, sub, sup {
    display: inline-block;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

li {
    margin-left: 25px;
    margin-bottom: 5px;
    max-width: 400px;
}
ol li {
    list-style-type: decimal;
}
ol ol li {
    list-style-type: lower-alpha;
}

ul li {
    list-style-type: square;
}

.screen_center {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#box-login{
    width: 250px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    padding: 15px;
    text-align: center;
}
#box-login header {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 8px;
}
#box-login input[type='text'], #box-login input[type='password'] {
    padding: 3px;
    font-size: 90%;
    width: 100%;
    margin-bottom: 5px;
}
#box-login #error {
    margin-top: 10px;
    font-style: italic;
    color: red;
}

.screen_fill {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: hidden;
}

.display #box-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 3 3 0;
}
.display #box-right {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1 1 0;
}

#box-main {
    flex: 3 3 0;
    position: relative;
}
.display #slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    visibility: hidden;
}
.display .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: center no-repeat;
    background-size: contain;
    transition: opacity 1s;
}
.display .slide.active {
    opacity: 1;
}
.display #youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}
#box-announcement {
    flex: 1 1 0;
    overflow: hidden;
    background-color: #d1e0e8;
}
#scroller {
    position: relative;
    padding: 10px;
}
#box-important{
    background-color: #d1e0e8;
}
.display .event {
    line-height: 1.2em;
    width: 90%;
    margin: 10px 5%;
    background-color: white;
    border-radius: 5px;
}
.display .date {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #85a4b6;
    padding: 2px 5px;
    display: inline-block;
    font-size: 90%;
}
.display .description {
    font-size: 70%;
    padding: 3px;
}
#box-twitter{
    flex: 2 2 0;
    position: relative;
}

.display > div > div {
    border: solid #85a4b6 2px;
}

#twitter-widget-0 {
    width: 100% !important;
    height: 100% !important;
}


.admin #box-left {
    flex: 0 0 auto;
    background-color: #43505b;
    color: white;
}
.admin > div > header {
    font-size: 200%;
    padding: 25px;
}
.admin #box-left > ul {
    list-style: none;
    font-weight: 200;
    width: 100%;
}
.admin #box-left > ul > li {
    width: 100%;
    margin: 0;
    padding: 8px 25px;
    position: relative;
    cursor: pointer;
}
.admin #box-left > ul > li.active {
    background-color: #5d7280;
}
.admin #box-left > ul > li.active::before {
    content: ' ';
    background-color: #ff9200;
    height: 100%;
    padding: 8px 0;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
}
.admin #box-right {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1 1 0;
}

.admin #box-content {
    flex: 1 1 0;
    position: relative;
}
.admin #box-submit {
    flex: 0 0 auto;
}
.admin #box-submit #save-btn{
    position: relative;
    float: right;
    margin: 10px 30px 10px;
    padding: 0 15px;
}
.admin #box-submit #logout-btn{
    position: relative;
    float: left;
    margin: 10px 30px 10px;
    padding: 0 15px;
}
.admin #box-submit #message {
    position: relative;
    float: right;
    display: block;
    margin: 10px 30px;
    padding: 7px 15px;
    color: red;
}
.admin .settings-view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    visibility: hidden;
    padding: 50px;
}
.admin .settings-view.active {
    visibility: visible;
}

h1 {
    font-size: 250%;
}
h2 {
    font-size: 210%;
}
h3 {
    font-size: 180%;
}
h4 {
    font-size: 155%;
}
h5 {
    font-size: 130%;
}
h6 {
    font-size: 112%;
}
h1, h2, h3 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5em;
}
p{
    padding-bottom: 1em;
    padding-left: 0.5em;
}
strong {
    font-weight: 600;
}
code {
    font-family: monospace;
}

.admin #in-announcement {
    width: 400px;
    height: 250px;
    padding: 5px;
    font-family: monospace;
}
.admin #out-announcement {
    resize: both;
    overflow: auto;
    border: solid 1px black;
    position: relative;
    width: 400px;
    height: 250px;
    padding: 15px;
}
.admin ins {
    font-style: italic;
    font-weight: 300;
    background: none;
    display: block;
}
.admin .list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.admin .list .item {
    flex-flow: row nowrap;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    border-radius: 3px;
    margin-bottom: 15px;
    display: flex;
}
.admin .list .item > .separator {
    height: 100%;
    width: 0;
    border-left: solid #d1e0e8 1px;
}
.admin .list .item > div:not(.separator) {
    margin: 10px;
}
.admin .list .item textarea {
    height: 50px;
}
.admin #in-date .event {
    min-height: 70px;
}
.admin .input-area {
    float: left;
    margin-right: 15px;
}
.admin .output-area {
    float: left;
}
.admin .slide-image {
    background-color: #d1e0e8;
    height: 100px;
}


.sqr-btn {
    cursor: pointer;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #5d7280;
}
.txt-btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 14px;
    color: white;
    height: 20px;
    display: inline-block;
    background-color: #5d7280;
}